<mat-card fxFlex="calc(25% - 20px)" fxFlex.gt-sm="calc(25% - 20px)" class="car-card">
  <img [src]="carservice.selectedcar.carImage"
    alt="{{ carservice.selectedcar.brand }} {{ carservice.selectedcar.model }}" mat-card-image />
  <mat-card-content>
    <h3>{{ carservice.selectedcar.brand }} {{ carservice.selectedcar.model }}</h3>
    <p>{{ carservice.selectedcar.mileage }}</p>
    <p>Rental Price: \${{ carservice.selectedcar.rentalPrice }}/day</p>
  </mat-card-content>

  <!-- Using mat-form-field as a container for the radio group -->
  <div [formGroup]="carForm">

    <mat-form-field>
      <mat-label>Insurance</mat-label>
      <mat-select formControlName="insurance" (selectionChange)="onInsuranceSelected($event)">
        <mat-option *ngFor="let insurance of insuranceOptions" [value]="insurance.insuranceCode">
          {{ insurance.insuranceName }} - ${{ insurance.insuranceCostPerDay }}/day
        </mat-option>
      </mat-select>
      <mat-hint>Choose your insurance option</mat-hint>
    </mat-form-field>
  
    
  </div>

  <div>Total Amount: {{ total }}</div>
  <div>8% Tax: {{ tax }}</div>
  <div>Insurance Amount: {{ insurance_amount }}</div>
  <div>Total Amount + Tax: {{ final_amount }}</div>

  <button mat-button color="primary" (click)="bookCar()">Book Car</button>
</mat-card>