<mat-card fxFlex="calc(25% - 20px)" fxFlex.gt-sm="calc(25% - 20px)" class="car-card">
    <img [src]="carservice.selectedcar.carImage" alt="{{ carservice.selectedcar.brand }} {{ carservice.selectedcar.model }}" mat-card-image />
    <mat-card-content>
      <h3>{{ carservice.selectedcar.brand }} {{ carservice.selectedcar.model }}</h3>
      <p>{{ carservice.selectedcar.mileage }}</p>
      <p>Rental Price: \${{ carservice.selectedcar.rentalPrice }}/day</p>
    </mat-card-content>
    <mat-form-field>
      <mat-radio-group formControlName="selectedInsuranceCode">
        <mat-radio-button *ngFor="let insurance of insuranceOptions" [value]="insurance.insuranceCode">
          {{insurance.insuranceName}}
          {{ insurance.coverageType }} - \${{ insurance.insuranceCostPerDay }}/day
        </mat-radio-button>
      </mat-radio-group>
    </mat-form-field>
    <button mat-button color="primary" (click)="bookCar()">Book Car</button>
</mat-card>