<mat-card fxFlex="calc(25% - 20px)" fxFlex.gt-sm="calc(25% - 20px)" class="car-card">
  <img [src]="carservice.selectedcar.carImage"
    alt="{{ carservice.selectedcar.brand }} {{ carservice.selectedcar.model }}" mat-card-image />
  <mat-card-content>
    <h3>{{ carservice.selectedcar.brand }} {{ carservice.selectedcar.model }}</h3>
    <p>{{ carservice.selectedcar.mileage }}</p>
    <p>Rental Price: \${{ carservice.selectedcar.rentalPrice }}/day</p>
  </mat-card-content>

  <!-- Using mat-form-field as a container for the radio group -->
  <form [formGroup]="carForm" >
  
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="insurance">
      <mat-radio-button class="example-radio-button" *ngFor="let food of insuranceOptions" [value]="food.insuranceCode">
        {{food.coverageType}}{{food.insuranceName}}
      </mat-radio-button>
    </mat-radio-group>
   
    
    <button mat-raised-button color="accent">Submit</button>
  </form>

  <div>Total Amount: {{ total }}</div>
  <div>8% Tax: {{ tax }}</div>
  <div>Insurance Amount: {{ insurance_amount }}</div>
  <div>Total Amount + Tax: {{ final_amount }}</div>

  <button mat-button color="primary" (click)="bookCar()">Book Car</button>
</mat-card>