.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    form {
      display: grid;
      gap: 15px;
  
      .form-group {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 5px;
        }
        input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
        }
      }
      .register-button {
        margin-left: auto; /* This will push the button to the right */
        left: 1250px !important;
      }
      .example-spacer {
        flex: 1 1 auto;
      }
      
  
      button {
        padding: 10px;
        background-color: #824caf;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        &:hover {
          background-color: #824caf;
        }
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
  