<app-navbar></app-navbar>
<div fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card fxFlex="calc(33.33% - 20px)" fxFlex.gt-sm="calc(20% - 20px)" *ngFor="let car of cars" class="car-card">
    <img [src]="car.imageUrl" alt="{{ car.brand }} {{ car.model }}" mat-card-image />
    <mat-card-content>
      <h3>{{ car.brand }} {{ car.model }}</h3>
      <p>{{ car.year }}</p>
      <p>Rental Price: \${{ car.rentalPrice }}/day</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Rent Now</button>
    </mat-card-actions>
  </mat-card>
</div>
