<div class="registration-container">
    <div class="registration-form">
      <h2>Create an Account</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" required>
        </div>
  
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" formControlName="lastName" required>
        </div>

        <div class="form-group">
          <label for="LicenseNo">LicenseNo</label>
          <input type="text" id="licenseNo" formControlName="LicenseNo" required>
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" required>
        </div>

        <div class="form-group">
          <label for="phoneNo">PhoneNo</label>
          <input type="phoneNo" id="phoneNo" formControlName="phoneNo" required>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="address" id="address" formControlName="address" required>
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" required>
        </div>
  
        <button type="submit" [disabled]="registrationForm.invalid">Register</button>
      </form>
    </div>
  </div>
  